@using BlazorLIMS.Data;

<tr>
    <th>@SampleCode</th>
    <th>@Name</th>
    <th>@DefaultAssigned</th>
    <th>@LowValue</th>
    <th>@HighValue</th>
    <th>@Units</th>
    @* <th><button @onclick="@DuplicateRow">Duplicate</button></th> *@
    <th><button @onclick="@DeleteRow">Delete</button></th>
</tr>

@code {

    [Parameter]
    public int DatabaseId { get; set; }

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string SampleCode { get; set; }

    [Parameter]
    public string DefaultAssigned { get; set; }

    [Parameter]
    public string Units { get; set; }

    [Parameter]
    public double LowValue { get; set; }
 
    [Parameter]
    public double HighValue { get; set; }

    [Parameter]
    public EventCallback RenderParent { get; set; }

    private async void DeleteRow() {

        using (var context = new PWSMDbContext())
        {
            try {

                var RowToDelete = await context.TestDataTable.FindAsync(DatabaseId);

                if (RowToDelete != null)
                {
                    context.TestDataTable.Remove(RowToDelete);
                    await context.SaveChangesAsync();
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
            }
        }

        await RenderParent.InvokeAsync();
    }

    private async void DuplicateRow() {

        var newRow = new LabTestData();

        newRow.Name = this.Name;
        newRow.SampleCode = this.SampleCode;
        newRow.DefaultAssigned = (this.DefaultAssigned == "Yes" ? true : false);
        newRow.LowValue = this.LowValue;
        newRow.HighValue = this.HighValue;
        newRow.Units = this.Units;

        using (var context = new PWSMDbContext())
        {
            await context.TestDataTable.AddAsync(newRow);
            await context.SaveChangesAsync();
        }

        await RenderParent.InvokeAsync();
    }
}