@page "/"

@using System;
@using BlazorLIMS.Data;


<ReportCreationForm CreatedReport=@Report OnClickCallback="@CreateGrid"/>

@if (Report != null && Report.Samples != null)
{
    string prefix = "R" + @Report.SampleType.Substring(0,1) + @Report.LabReportId;

    <h5>@prefix</h5>
    <h5>@Report.ReportType</h5>

    foreach(SampleModel sample in @Report.Samples)
    {
        <p>Sample ID: @sample.LabId</p>
    }

}

@code {

    private ReportModel Report = new ReportModel();
    
    private void CreateGrid() {

        Console.WriteLine("CreateGrid() called.");

        Console.WriteLine($"Report type: {Report.ReportType}");
        Console.WriteLine($"Sample type: {Report.SampleType}");
        Console.WriteLine($"Date Received: {Report.DateReceived}");

        Console.WriteLine($"Report number: {Report.LabReportId}");
        Console.WriteLine($"Sample number: {Report.Samples[0].LabId}");

    }

}