@page "/"

@using System;
@using BlazorLIMS.Data;


<ReportCreationForm CreatedReport=@Report OnClickCallback="@CreateGrid"/>

@if (Report != null && Report.Samples != null)
{
    string prefix = "R" + @Report.SampleType.Substring(0,1) + @Report.LabReportId;

    <h5>@prefix</h5>
    <h5>@Report.ReportType</h5>

    <table class="table">
        <thead>
            <th>ID</th>
            <th>Sample</th>
            <th>Tests</th>
        </thead>
        @foreach(SampleModel sample in @Report.Samples)
        {
            var letter = @sample.SampleType.Substring(0,1);
            <tr>
                <th>@letter@sample.LabId</th>
                <th>@sample.SampleCode</th>
                <th>@sample.AssignedTestsString</th>
            </tr>
        }
    </table>

}

@code {

    private ReportModel Report = new ReportModel();
    
    private void CreateGrid() {

        Console.WriteLine("CreateGrid() called.");

        Console.WriteLine($"Report type: {Report.ReportType}");
        Console.WriteLine($"Sample type: {Report.SampleType}");
        Console.WriteLine($"Date Received: {Report.DateReceived}");

        Console.WriteLine($"Report number: {Report.LabReportId}");
        Console.WriteLine($"Sample number: {Report.Samples[0].LabId}");

    }

    protected override void OnInitialized() {

        Info.PopulateLists();

    }

}