@page "/TestInfo"

@using Microsoft.EntityFrameworkCore;
@using BlazorLIMS.Data;
@using System;

<style>
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    }

    input[type=number] {
    -moz-appearance: textfield;
}
</style>

<table class="table">
    <thead>
        <tr>
            <th>Total rows: @TestDatas.Count</th>
            @* <th><button @onclick="PrintInfoToConsole">Info</button></th> *@
            @* <th><button @onclick="DeleteAllRows">Delete Everything</button></th> *@
            @* <th><button @onclick="CreateEverything">Create Everything</button></th> *@
            @* <th>Total rows: @TestDatas.Count</th> *@
        </tr>
        <tr>
            <th>
                <select @bind="CurrentDisplaySampleCode">
                    @foreach (var pCode in Info.PlantCodes)
                    {
                        <option value=@pCode>@pCode</option>
                    }
                    @foreach (var wCode in Info.WasteCodes)
                    {
                        <option value=@wCode>@wCode</option>
                    }
                    @foreach (var sCode in Info.SolutionCodes)
                    {
                        <option value=@sCode>@sCode</option>
                    }
                    @foreach (var mCode in Info.MediaCodes)
                    {
                        <option value=@mCode>@mCode</option>
                    }
                </select>
            </th>
            <th>Test Name</th>
            <th>Low</th>
            <th>High</th>
            <th>Units</th>
        </tr>
    </thead>
    <tbody>
        
        @if (TestDatas == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            @foreach (var test in TestDatas)
            {
                if (@test.SampleCode.Equals(CurrentDisplaySampleCode))
                {

                    var color = "#cccccc";
                    if (TestDatas.IndexOf(test) % 2 == 0)
                        color = "#eeeeee";

                    <TestDataRow
                    DatabaseId=@test.Id
                    SampleCode=@test.SampleCode
                    Name=@test.TestName
                    LowValue=@test.LowValue
                    HighValue=@test.HighValue
                    Units=@test.Units
                    RenderParent="@OnInitializedAsync"
                    BGColor=@color
                    />
                }
            }
        }

    </tbody>

</table>

@code {

    private IList<TestDataModel> TestDatas;

    private string CurrentDisplaySampleCode = "Amaranth";

    protected override async Task OnInitializedAsync() {

        using (var context = new PWSMDbContext())
        {
            try
            {
                TestDatas = await context.TestDataTable.ToListAsync();
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
            }
        }
    }


}