@page "/TestInfo"

@using Microsoft.EntityFrameworkCore;
@using BlazorLIMS.Data;
@using BlazorLIMS.Components;
@using System;

<table class="table">
    <thead>
        <tr>
            <th>Test</th>
            <th>Sample code</th>
            <th>Default</th>
            <th>Low</th>
            <th>High</th>
            <th>Units</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                <select @bind="CreateName">
                    @foreach (var item in Info.AllTests)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </th>
            <th>
                <select @bind="CreateSampleCode">
                    @foreach (var item in Info.PlantCodes)
                    {
                        <option value="@item">@item</option>
                    }
                    @foreach (var item in Info.WasteCodes)
                    {
                        <option value="@item">@item</option>
                    }
                    @foreach (var item in Info.SolutionCodes)
                    {
                        <option value="@item">@item</option>
                    }
                    @foreach (var item in Info.MediaCodes)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </th>

            <th>
                <select @bind="CreateDefault">
                    <option value="No">No</option>        
                    <option value="Yes">Yes</option>        
                </select>
            </th>
            <th><input type="number" step=".01" @bind="CreateLow"></th>
            <th><input type="number" step=".01" @bind="CreateHigh"></th>
            <th><input type="text" @bind="CreateUnits"></th>
            <th><button @onclick="CreateTestData">Add</button></th>


        </tr>

        @if (TestDatas == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            @foreach (var test in TestDatas)
            {
                string assigned = "No";
                if (@test.DefaultAssigned == true)
                {
                    assigned = "Yes";
                }

                <TestDataRow
                DatabaseId=@test.Id
                Name=@test.Name
                SampleCode=@test.SampleCode
                DefaultAssigned=@assigned
                LowValue=@test.LowValue
                HighValue=@test.HighValue
                Units=@test.Units
                RenderParent="@OnInitializedAsync"
                />
            }
        }

    </tbody>

</table>

@code {

    private IList<LabTestData> TestDatas;

    private string CreateName = Info.AllTests[0];
    private string CreateSampleCode = Info.PlantCodes[0];
    private string CreateDefault = "No";
    private double CreateLow = 0.0;
    private double CreateHigh = 0.0;
    private string CreateUnits = "";

    private async void CreateTestData() {

        using (var context = new PWSMDbContext())
        {
            try
            {
                var newTestData = new LabTestData();
                newTestData.Name = CreateName;
                newTestData.SampleCode = CreateSampleCode;
                
                newTestData.DefaultAssigned = false;
                if (CreateDefault.Equals("Yes"))
                {
                    newTestData.DefaultAssigned = true;
                }
                newTestData.LowValue = CreateLow;
                newTestData.HighValue = CreateHigh;
                newTestData.Units = CreateUnits;
 
                Console.WriteLine(newTestData.Name);

                context.TestDataTable.Add(newTestData);
                await context.SaveChangesAsync();
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
                
            }
        }

        await OnInitializedAsync();
    }

    protected override async Task OnInitializedAsync() {


        using (var context = new PWSMDbContext())
        {
            try
            {
                TestDatas = await context.TestDataTable.ToListAsync();
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
            }
        }
    }


}